[submodule "libnvme"]
	path = libnvme
	url = https://github.com/linux-nvme/libnvme.git
[submodule "parted"]
	path = parted
	url = https://git.savannah.gnu.org/git/parted.git
[submodule "final-project-LJ0704"]
	path = final-project-LJ0704
	url = https://github.com/cu-ecen-aeld/final-project-LJ0704.git
